.nav-item, .mobile-nav-item {
    padding: 10px 15px;
    transition: background 0.3s, color 0.3s;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover, .mobile-nav-item:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.submenu-item {
    padding: 10px 15px;
    transition: color 0.3s;
    position: relative;
}

.submenu-item:hover {
    color: #e0e0e0;
}

.submenu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.submenu-item:hover::after {
    width: 100%;
}

.group:hover .group-hover\:block {
    display: block;
}

.bg-green-700 {
    background-color: #2f855a;
}

.bg-green-900 {
    background-color: #22543d;
}

#mobile-menu-toggle {
    padding: 10px; /* Увеличиваем зону клика для тачскринов */
    cursor: pointer; /* Убедимся, что курсор нажатия установлен */
}

@media (max-width: 768px) {
    .md:hidden a.text-xl {
        margin-right: 20px; /* Добавляем больше пространства между текстом и иконкой */
    }
}
