/* Общие стили */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, h2, h3 {
    font-weight: bold;
}

/* Стили для шапки */
header {
    transition: background-color 0.3s ease;
}

header.bg-green-800 {
    background-color: #2d6a4f;
}

/* Стили для кнопок */
button, .btn {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover, .btn:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
}

/* Стили для иконок */
i {
    transition: color 0.3s ease;
}

i:hover {
    color: #2d6a4f;
}


/* Мобильная адаптация */
@media (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
}
